nltk==3.4.5
numpy==1.18.2
gensim==3.8.1
matplotlib==3.2.1
streamlit==0.57.3
pydeck==0.3.0b4
lxml==4.5.0
requests==2.23.0
wordcloud==1.6.0
pandas==1.0.3
twint==2.1.18
beautifulsoup4==4.9.0
Pillow==7.1.1
