matplotlib==3.2.1
gensim==3.8.1
lxml==4.5.0
wordcloud==1.6.0
pydeck==0.3.0b4
nltk==3.4.5
numpy==1.18.2
requests==2.23.0
twint==2.1.18
pandas==1.0.3
streamlit==0.57.3
beautifulsoup4==4.9.0
Pillow==7.1.1
