aiodns==2.0.0
aiohttp==3.6.2
aiohttp-socks==0.3.7
altair==4.1.0
astor==0.8.1
async-timeout==3.0.1
attrs==19.3.0
backcall==0.1.0
base58==2.0.0
beautifulsoup4==4.9.0
bleach==3.1.4
blinker==1.4
boto==2.49.0
boto3==1.12.39
botocore==1.15.39
cachetools==4.1.0
cchardet==2.1.6
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
cycler==0.10.0
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
docutils==0.15.2
elasticsearch==7.6.0
entrypoints==0.3
enum-compat==0.0.3
fake-useragent==0.1.11
future==0.18.2
gensim==3.8.1
geographiclib==1.50
geopy==1.21.0
googletransx==2.4.2
idna==2.9
importlib-metadata==1.6.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-core==4.6.3
kiwisolver==1.2.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
multidict==4.7.5
nbconvert==5.6.1
nbformat==5.0.5
nltk==3.4.5
notebook==6.0.3
numpy==1.18.2
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
pathtools==0.1.2
pickleshare==0.7.5
Pillow==7.1.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.11.3
pycares==3.1.1
pycparser==2.20
pydeck==0.3.0b4
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.0
requests==2.23.0
s3transfer==0.3.3
schedule==0.6.0
scipy==1.4.1
Send2Trash==1.5.0
six==1.14.0
smart-open==1.11.1
soupsieve==2.0
streamlit==0.57.3
terminado==0.8.3
testpath==0.4.4
toml==0.10.0
toolz==0.10.0
tornado==5.1.1
traitlets==4.3.3
twint==2.1.18
tzlocal==2.0.0
urllib3==1.25.8
validators==0.14.3
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.5.1
wordcloud==1.6.0
yarl==1.4.2
zipp==3.1.0
zope.interface==5.1.0
